html {
  min-height: 100%;
}
body {
  font-family: "Orbitron", sans-serif;
  margin: 0;
  padding: 0;
  background: url(/img/mario-bg.png) no-repeat;
  background-size: 100%;
  background-position: bottom;
  background-color: #95e8f3;
  min-height: 100%;
}

nav {
  font-family: "MuseoModerno", cursive;
}

header,
main,
footer {
  padding-left: 300px;
}

main {
  height: calc(100vh - 134px);
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button,
form h5 {
  margin-top: 20px 0;
}

input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #ec407a;
  box-shadow: none;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type="email"]:not(.browser-default):focus:not([readonly]) + label,
input[type="password"]:not(.browser-default):focus:not([readonly]) + label {
  color: #ec407a !important;
}

@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }

  main {
    height: calc(100vh - 120px);
  }
}
